* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

header {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    border-bottom: 5px solid grey;
}

#logoleeds {
    height: 50px;
    width: 50px;

}

.dark-mode {
    background-color: black;
    color: white;

}

#nightmode {
    height: 30px;
    width: 30px;
}

.Leedslogo {
    flex: 1;
}

.leedstext {
    margin: 15px;
    font-weight: bolder;
}

nav {

    flex: 3;

}

.nightmode {

    flex: 1;
    justify-content: flex-end;
}

.nightmode,
.Leedslogo,
.nav-pages {
    display: flex;
}

.nav-pages {
    justify-content: space-around;
    list-style: none;
}

#nav-link2,
#nav-link3,
#nav-link4 {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

#nav-link1 {
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 2px 3px;

}

.overview {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 30vh;
    align-items: center;

}

.btnnight {
    margin-left: 10px;
    padding: 5px 5px;
    border: none;
}

#home {
    height: 30px;
    width: 30px;
}

.homebutton {
    margin-left: 15px;
    display: flex;
}



#fact1,
#fact2,
#fact3,
#fact4,
#fact5 {
    margin-top: 10px;
    margin-left: 20px
}

.Factcontent h2 {
    margin-left: 15px;
}

.pagecontent {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
}

.Factcontent {
    flex: 1;
    justify-content: center;

}

.Fact1content {
    flex: 1;
}

.Fact2content,
.Fact1content,
.Factcontent {
    margin-left: 50px;
}


.Fact2content {
    flex: 1;
    margin: 20px;
    justify-content: space-around;

}

#stad1,
#stad2,
#stad3,
#stad4,
#stad5,
#stad6 {
    margin-top: 10px;
    margin-left: 20px
}

#ran1,
#ran2,
#ran3,
#ran4,
#ran5,
#ran6 {
    margin-top: 10px;
    margin-left: 20px
}


@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;

    }

    #nav-link2,
    #nav-link3,
    #nav-link4,
    #nav-link1 {
        margin: 10px;
    }

    .nightmode {
        margin: 10px
    }

    .pagecontent {
        flex-direction: column;
        align-content: center;

    }

    .Fact2content,
    .Fact1content,
    .Factcontent {
        align-content: center;
        margin-top: 50px
    }

}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;

    }

    #nav-link2,
    #nav-link3,
    #nav-link4,
    #nav-link1 {
        font-size: 30px;
    }

    .nightmode {
        margin: 10px
    }

    .pagecontent {
        flex-direction: column;
        align-content: center;

    }

    .Fact2content,
    .Fact1content,
    .Factcontent {
        align-content: center;
        margin-top: 50px
    }

}

.overview {
    margin-top: 0px;
}
