* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

header {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    border-bottom: 5px solid grey;
}

#logoleeds {
    height: 50px;
    width: 50px;

}

.dark-mode {
    background-color: black;
    color: white;

}

#nightmode {
    height: 30px;
    width: 30px;
}

.Leedslogo {
    flex: 1;
}

.leedstext {
    margin: 15px;
    font-weight: bolder;
}

nav {

    flex: 3;

}

.nightmode {

    flex: 1;
    justify-content: flex-end;
}

.nightmode,
.Leedslogo,
.nav-pages {
    display: flex;
}

.nav-pages {
    justify-content: space-around;
    list-style: none;
}

#nav-link2,
#nav-link3,
#nav-link4,
#nav-link1 {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

#nav-link2 {
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 2px 3px;

}

.overview {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 30vh;
    align-items: center;

}

.btnnight {
    margin-left: 10px;
    padding: 5px 5px;
    border: none;
}

#home {
    height: 30px;
    width: 30px;
}

.homebutton {
    margin-left: 15px;
    display: flex;
}

.User {
    width: 85%;
    margin: auto;
}

#text,
#wtext {
    display: none;
}

#correctimage {
    height: 50px;
    width: 50px;
    display: none;
}


.User {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 10vh;
    flex-direction: column;

}


.User {
    border-bottom: 5px solid grey;
}

.pagecontent,
.User {
    justify-items: center;
}

.pagecontent {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 25vh;
    align-items: center;
    margin-top: 50px;
}

.Decade,
.Year,
.Trophies {

    margin-left: 50px;
}




.Trophies {
    flex: 2;
}

.Year {
    flex: 4;
}

.Decade {
    justify-content: flex-end;
}

li {
    text-decoration: none;
}

.facttest {
    display: flex;
}



@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;

    }

    #nav-link2,
    #nav-link3,
    #nav-link4,
    #nav-link1 {
        margin: 10px;
    }

    .nightmode {
        margin: 10px
    }

    .pagecontent {
        flex-direction: column;
        align-content: center;
    }

    .Decade,
    .year,
    .Trophies {
        margin-top: 50px;
        width: 85%;
    }


}
