* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

header {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    border-bottom: 5px solid grey;
}

#logoleeds {
    height: 50px;
    width: 50px;

}

.dark-mode {
    background-color: black;
    color: white;

}

#nightmode {
    height: 30px;
    width: 30px;
}

.Leedslogo {
    flex: 1;
}

.leedstext {
    margin: 15px;
    font-weight: bolder;
}

nav {

    flex: 3;

}

.nightmode {

    flex: 1;
    justify-content: flex-end;
}

.nightmode,
.Leedslogo,
.nav-pages {
    display: flex;
}

.nav-pages {
    justify-content: space-around;
    list-style: none;
}

#nav-link2,
#nav-link3,
#nav-link4,
#nav-link1 {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

#nav-link3 {
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    padding: 2px 3px;

}

.overview {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 30vh;
    align-items: center;

}

.btnnight {
    margin-left: 10px;
    padding: 5px 5px;
    border: none;
}

#home {
    height: 30px;
    width: 30px;
}

.name,
.pos,
.apps,
.des {
    margin-left: 50px;
}

.homebutton {
    margin-left: 15px;
    display: flex;
}

#info1,
#info2,
#info3,
#info4 {
    font-weight: bold;
}

.jack {
    border: 2px solid grey;
    height: 300px;
}

.billy {
    height: 300px;
    border: 2px solid grey;
}

.norman {
    height: 300px;

}



.container1,
.container2,
.container3 {
    display: flex;
    margin-left: 20px
}

.container1 {
    flex: 3;
}

.container2 {
    flex: 3;
}

.pagecontent {
    justify-items: center;
}

.container3 {
    margin-left: 50px;
    flex: 3
}

.pagecontent {
    display: flex;
    margin: auto;
    min-height: 25vh;
    align-items: center;
    margin-top: 50px;
}


@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;

    }

    #nav-link2,
    #nav-link3,
    #nav-link4,
    #nav-link1 {
        margin: 10px;
    }

    .nightmode {
        margin: 10px
    }

    .pagecontent {
        flex-direction: column;
        align-content: center;
    }

    .container1,
    .container2,
    .container3 {
        margin-top: 50px;
        width: 85%;
    }


}
