* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

#Lab {
    width: 85%;
    margin: auto;

}

header {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
}

#logoleeds {
    height: 50px;
    width: 50px;

}

.dark-mode {
    background-color: black;
    color: white;

}

#nightmode {
    height: 30px;
    width: 30px;
}

.Leedslogo {
    flex: 1;
}


.leedstext {
    margin: 15px;
    font-weight: bolder;
}

nav {

    flex: 3;

}

.Course {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 5px solid grey
}

#Lab {
    width: 85%;
    display: flex;
    margin: auto;
    align-items: center;
    min-height: 20vh;
    border-bottom: 5px solid grey;
}

.Html {
    flex: 2;
}

.Css {

    flex: 2;
}

.Java {
    flex: 2;
}

.Http {
    flex: 1;
}

.nightmode {

    flex: 1;
    justify-content: flex-end;
}

.text {
    border-bottom: 5px solid grey;
    margin: auto;
    width: 85%;
    min-height: 25vh;

}

.text h1 {
    text-decoration: underline;
    font-weight: bolder;
}

.nightmode,
.Leedslogo,
.nav-pages {
    display: flex;
}

.nav-pages {
    justify-content: space-around;
    list-style: none;
}

#nav-link1,
#nav-link2,
#nav-link3,
#nav-link4 {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.overview {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 30vh;
    align-items: center;

}

.text {
    flex: 2;

}

.Name {
    flex: 2;
    margin-left: 20px;

}

group {
    justify-content: flex-end;

}

.btnnight {
    margin-left: 10px;
    padding: 5px 5px;
    border: none;
}

h3 {
    text-decoration: underline;
    font-size: 20px;
}

footer {
    display: flex;
    min-height: 5vh;
    width: 85%;
    margin: auto;
}



@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;

    }

    #nav-link {
        margin: 10px;
    }

}
